@model PagedList.IPagedList<RegisterLoginSortFilter.Models.ApplicationUser>
@using PagedList.Mvc;

@{
    ViewBag.Title = "All Registered Users";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "ApplicationUsers", FormMethod.Get))
{
    <div class="input-group">
        @Html.TextBox("SearchEmailString", ViewBag.CurrentFilter as string,
                                    new { @class = "form-control", placeholder = "Filter by Email" })
    </div>
    <div class="input-group">
        @Html.TextBox("SearchNameString", ViewBag.CurrentFilter as string,
                                new { @class = "form-control", placeholder = "Filter by Name" })
        <span class="input-group-btn" style="width:0;">
            <button class="btn btn-primary" type="submit">Filter</button>
        </span>
    </div>
    
}
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>

                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Additional Information
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdditionalInfo)
                    </td>
                </tr>
            }

        </table>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
